* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: bisque;
}

.card {
  display: block;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

button:hover {
  cursor: pointer;
  background-color: bisque;
}
